
.@{ui-class-prefix}-boxgroup-horizontal .ui-boxgroup-wrapper {
    .inline-block();
    margin-right: .5em;
}

.@{ui-class-prefix}-boxgroup-vertical .ui-boxgroup-wrapper {
    display: block;
    margin: 0.3em;
}

.@{ui-class-prefix}-boxgroup-button-style {
    .@{ui-class-prefix}-boxgroup-wrapper {
        margin-right: 0;
    }
    label {
        .esui-boxgroup-button-style-label-hook;
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: none;
        display: ~"inline-block\9";
        *display: inline-block;
        width: 0;
        overflow: hidden;
    }
    
    .@{ui-class-prefix}-boxgroup-wrapper-checked label {
        .esui-boxgroup-button-style-label-checked-hook;
    }
    .esui-boxgroup-button-style-hook;
}

esui-box-group {
    display: block;
}

.esui-boxgroup-button-style-hook() {}
.esui-boxgroup-button-style-label-hook() {}
.esui-boxgroup-button-style-label-checked-hook() {}