// =========
// Checkbox & Radio
// =========

// FIXME: 需要整理一下变量
@checkbox-border-color: #9a9a9a;
@checkbox-background-color: #f1f1f1;

@checkbox-disabled-border-color: #e8e8e8;
@checkbox-disabled-background-color: #d3d3d3;

@checkbox-border-hover-color: #6ccdc0;

@checkbox-background-active-color: #6ccdc0;
@checkbox-radio-checked-color: #FFF;
@checkbox-radio-checked-background-color: #6ccdc0;
@checkbox-radio-checked-border-color: #6ccdc0;
@checkbox-label-text-color: rgba(0, 0, 0, 0.6);
@checkbox-label-text-hover-color: rgba(0, 0, 0, 0.8);
@checkbox-label-text-active-color: rgba(0, 0, 0, 0.8);
@checkbox-label-text-disabled-color: rgba(0, 0, 0, 0.3);


@checkbox-border-active-color: #6ccdc0;
@checkbox-radio-label-padding: 1.5em;
@checkbox-slider-off-color: #9B9B9B;
@checkbox-slider-on-color: #FFF;
@checkbox-slider-off-background-color: #6CCDC0;
@checkbox-slider-on-background-color: #FFFFFF;
@checkbox-slider-off-border-color: #666;
@checkbox-slider-on-border-color: #6CCDC0;
@checkbox-slider-disable-background-color: #9B9B9B;
@checkbox-slider-disable-pre-background-color: #BEBEBE;

.esf-checkbox-custom {
    position: relative;
    display: inline-block;
    min-width: 1em;
    min-height: 1.25em;
    line-height: 1em;
    outline: none;
    vertical-align: middle;

    input {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        outline: none;
    }

    /*--- Box ---*/
    .@{ui-class-prefix}-checkbox-box,
    label {
        cursor: pointer;
        padding-left: @checkbox-radio-label-padding;
        outline: none;
        // checkbox框
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            content: '';
            border-radius: @esf-box-border-radius;
            background: @checkbox-background-color;
            .transition(background-color 0.3s ease, border-color 0.3s ease;);
            border: 1px solid @checkbox-border-color;
            box-sizing: border-box;
        }
        // checkbox的对钩
        &:after {
            .opacity(0);
            content: '';
            position: absolute;
            top: 0.2em;
            left: 0.16em;
            width: 0.5em;
            height: 0.25em;
            border: 0.25em solid @checkbox-radio-checked-color;
            border-top: none;
            border-right: none;
            .transform(rotate(-45deg));
        }

        /*--- Hover ---*/
        &:hover::before {
            border-color: @checkbox-border-hover-color;
        }

        /*--- Down ---*/
        &:active::before {
            background-color: @checkbox-background-active-color;
        }
    }

    /*--- Inside Label ---*/
    label {
        display: block;
        color: @checkbox-label-text-color;
        .transition(color 0.2s ease);
        &:hover {
            color: @checkbox-label-text-hover-color;
        }
    }

    /*--- Focus ---*/
    input:focus {
        & ~ label {
            color: @checkbox-label-text-active-color;
        }

        & ~ label, & ~ .box {
            &:before {
                border-color: @checkbox-border-active-color;
            }
        }
    }

    /*--- Active ---*/
    input:checked ~ .@{ui-class-prefix}-checkbox-box,
    input:checked ~ label {
        &:after {
            .opacity(100);
        }
    }
    
    /*--- Hover ---*/
    input:checked ~ .@{ui-class-prefix}-checkbox-box,
    input:checked ~ label {
        &:before {
            background: @checkbox-radio-checked-background-color;
            border-color: @checkbox-radio-checked-border-color;
        }
    }

    /*--- Outside Label  ---*/
    ~ label {
        cursor: pointer;
        .opacity(85);
        vertical-align: middle;
    }
    ~ label:hover {
        .opacity(100);
    }

    /*--- Disabled ---*/
    &.@{ui-class-prefix}-disabled,
    input[disabled] {
        .opacity(0);
        ~ .@{ui-class-prefix}-checkbox-box:after,
        ~ label, label {
            color: @checkbox-label-text-disabled-color;
            &:before {
                background: @checkbox-disabled-background-color !important;
                border-color: @checkbox-disabled-border-color !important;
            }
        }
    }

    input:indeterminate ~ .@{ui-class-prefix}-checkbox-box,
    input:indeterminate ~ label {
        &:after {
            .opacity(100);
            .transform(none);
            border: 1px solid @checkbox-border-active-color;
            width: 1em;
            height: 1em;
            background: @checkbox-radio-checked-background-color;
            .box-shadow(inset 0px 0px 0px 0.2em @checkbox-background-color);
            left: 0;
            top: 0;
            box-sizing: border-box;
        }
    }
}

.esf-radio-custom {
    .box, label {
        &:before {
            min-width: 1em;
            height: 1em;
            .border-radius(500px);
            .transform(none);
        }
        &:after {
            border: none;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            background-color: @checkbox-radio-checked-color;
            .box-shadow(inset 0px 0px 0px 0.3em @checkbox-border-active-color);
            .border-radius(500px);
            .transform(none);
        }
    }
}

.@{ui-class-prefix}-checkbox-custom,
.@{ui-class-prefix}-radio-custom,
.@{ui-class-prefix}-toggle-custom {
    &:extend(.esf-checkbox-custom all);
}

.@{ui-class-prefix}-radio-custom {
    &:extend(.esf-radio-custom all);
}

// ESUI 扩展的
.@{ui-class-prefix}-boxgroup-radio-custom,
.@{ui-class-prefix}-boxgroup-checkbox-custom {
    &:extend(.esf-checkbox-custom all);
}

.@{ui-class-prefix}-boxgroup-radio-custom {
    &:extend(.esf-radio-custom all);
}


.@{ui-class-prefix}-checkbox-switch {
    position: relative;
    cursor: pointer;
    color: @checkbox-label-text-color;
    input {
      display: none;
    }
    // witch
    .box, label {
        padding-left: 4em;
        &:after {
            cursor: pointer;
            display: block;
            position: absolute;
            content: '';
            top: 0.1em;
            z-index: 1;
            background-color: @checkbox-slider-off-background-color;
            width: 3em;
            height: 1.1em;
            border:@checkbox-slider-on-border-color 0.1em solid;

        }
        // Button Activation Light
        &:before {
            border:@checkbox-slider-on-border-color 0.1em solid;
            content: '';
            position: absolute;
            top: 0.1em;
            left: 0em;
            z-index: 2;
            width: 1.4em;
            height: 1.1em;
            background-color: @checkbox-slider-on-color;
            .opacity(100);
            .box-shadow(none);
            .transition(background 0.3s ease 0s, left 0.3s ease 0s;);
            .transform(none);
        }
    }

    // Active
    input:checked {
        color: @checkbox-label-text-active-color;
        ~ .box, ~ label {
            &:after {
                background-color: @checkbox-slider-off-color;
                border-color: @checkbox-slider-off-color;
            }
            &:before {
                left: 1.65em;
                border-color: @checkbox-slider-off-color;
            }
        }
    }
}

.ui-checkbox-disabled {
    color: @checkbox-label-text-disabled-color;
    .box, label {
        &:after {
            background-color: @checkbox-slider-disable-background-color;
            border-color: @checkbox-slider-disable-background-color;
        }
        &:before {
            border-color: @checkbox-slider-disable-background-color;
            background-color: @checkbox-slider-disable-pre-background-color;
        }
    }
}

.@{ui-class-prefix}-checkbox-round {
    .box, label {
        &:after {
            border-radius: 1em;
        }
        &:before {
            width: 1.16em;
            border-radius: 1em;
        }
    }
    // Active
    input:checked {
        color: @checkbox-label-text-active-color;
        ~ .box, ~ label {
            &:before {
                left: 1.85em;
            }
        }
    }
}

