@import url('jasmine.css');

/* User CSS */
.navigator {
  float: left;
  width: 160px;
  margin: 0;
  list-style: none;
  padding: 0;
}
.navigator li a {
  text-decoration: none;
  display: block;
  background-color: #f5f5f5;
  color: #000;
  border: 1px solid #a2a2a2;
  margin-top: -1px;
  padding: 8px 14px;
}
.navigator li:first-child a {
  border-radius: 6px 6px 0 0;
}
.navigator li:last-child a {
  border-radius: 0 0 6px 6px;
}
.navigator li a:hover {
  background-color: #a2a2a2;
  color: #fff;
}
.navigator li.cur a {
  background-color: #a2a2a2;
  color: #fff;
}

.jasmine_reporter {
    margin-left: 200px;
}
