 /**
  * ESUI (Enterprise Simple UI)
  * Copyright 2013 Baidu Inc. All rights reserved.
  * 
  * @file 按钮样式
  * @author dbear
  */

/**
 * 基础按钮样式
 */
.ui-button, .ui-button-label {
    overflow:hidden;
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ui-button {
    background: #ffffff;
    background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6));
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 0%);
    background: -moz-linear-gradient(top,#ffffff,#f6f6f6);
    border:1px solid #CCC;
    cursor:pointer;
    /* Hack: 宋体是衬线字体，Arial是无衬线字体，一起用会高低不平。
     * 因为按钮高度太小且无英文，此处统一改设为宋体来保持高度居中，
     * 为兼容Mac下显示效果，前面增加STHeiti */
    font-family:STHeiti, SimSun;
    font-size:12px;
    text-align:center;
    color:#333;
    height:23px;
    line-height:23px;
    padding: 0 10px;
    vertical-align: top;
    display:inline-block;
    *display:inline;
    *margin-bottom:8px;
    zoom:1;
    border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -moz-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.ui-button-label {
    display:block;
    float:left;
    padding:0 10px;
    line-height:23px;
    -webkit-border-radius:1px;
    -o-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
}

/**
 * 基础按钮样式状态
 */
.ui-button-hover,
.ui-button-press, 
.ui-button-active {
    border:1px solid #888f9b;
}


.ui-button-press,
.ui-button-active {
    border:1px solid #BEBEBE;
    height:23px;
    background: #f6f6f6;
    background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#f6f6f6), to(#ffffff));
    background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 0%);
    background: -moz-linear-gradient(top,#f6f6f6,#ffffff);
}

.ui-button-disabled {
    background:#f6f6f6;
    border-color:#cfcfcf;
    color:#999;
}

.ui-button-lf-icon {
    float: left;
}

.ui-button-rt-icon {
    float: right;
}

/** 春天系列 */
.skin-button-spring,
.skin-button-spring-add {
    border:1px solid #519D30;
    height:26px;
    line-height: 26px;
    color: white;
    font-weight: bold;
}
.skin-button-spring {
    background: #65b445;
    background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#6cbb4c), to(#519c30));
    background: -o-linear-gradient(top, #6cbb4c 0%, #519c30 0%);
    background: -moz-linear-gradient(top,#6cbb4c,#519c30);
    padding: 0 10px;
}
.skin-button-spring-add {
    background: url(../img/dn-ui-button-plus.gif) no-repeat scroll 9px 7px #65b445;
    background:
        url(../img/dn-ui-button-plus.gif) no-repeat scroll 9px 7px,
        -webkit-gradient(linear,0% 0%, 0% 100%, from(#6cbb4c), to(#519c30));
    background: 
        url(../img/dn-ui-button-plus.gif) no-repeat scroll 9px 7px,
        -o-linear-gradient(top, #6cbb4c 0%, #519c30 0%);
    background: 
        url(../img/dn-ui-button-plus.gif) no-repeat scroll 9px 7px,
        -moz-linear-gradient(top,#6cbb4c,#519c30);
    width: 40px;
    padding: 0 13px 0 27px;
}

.skin-button-spring-press,
.skin-button-spring-add-press {
    border:1px solid #509c2f;
    height:26px;
    background:url(../img/dn-tab-bg-press.png) repeat-x;
}

.skin-button-spring-hover,
.skin-button-spring-add-hover {
    border:1px solid #157106;
}


/** 下载系列 */
.skin-button-download {
    background: url(../img/download.png) no-repeat scroll 40px center #FFF;
    background:
        url(../img/download.png) no-repeat scroll 40px center,
        -webkit-gradient(linear,0% 0%, 0% 100%, from(#FFF), to(#f6f6f6));
    background: 
        url(../img/download.png) no-repeat scroll 40px center,
        -o-linear-gradient(top, #FFF 0%, #f6f6f6 0%);
    background: 
        url(../img/download.png) no-repeat scroll 40px center,
        -moz-linear-gradient(top,#FFF,#f6f6f6);
    height: 23px;
    line-height: 24px;
    margin: 3px 10px;
    padding-left: 12px;
    padding-right: 25px;
    width: 25px;
}