 /**
  * ESUI (Enterprise Simple UI)
  * Copyright 2013 Baidu Inc. All rights reserved.
  * 
  * @file 按钮样式
  * @author dbear
  */

@import "mixin.less";
@import "variable.less";

/**
 * 基础按钮样式
 */
.ui-button {
    overflow:hidden;
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ui-button {
    .linear-gradient-background (top, #ffffff, #f6f6f6, #ffffff);
    border: 1px solid #CCC;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    color: #333;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *margin-bottom: 8px;
    zoom: 1;
    .border-radius(2px, 2px, 2px, 2px);
    .box-sizing(content-box);
}

/**
 * 基础按钮样式状态
 */
 .ui-button:hover {
     cursor: pointer;
 }
.ui-button:active {
    border: 1px solid #BEBEBE;
    height: 23px;
    .linear-gradient-background (top, #f6f6f6, #ffffff, #f6f6f6);
}

.ui-button-disabled {
    background: #f6f6f6;
    border-color: #cfcfcf;
    color: #999;
}

.ui-button-lf-icon {
    float: left;
}

.ui-button-rt-icon {
    float: right;
}

/** 春天系列 */
.skin-spring-button,
.skin-spring-add-button {
    border: 1px solid #519D30;
    height: 26px;
    line-height: 26px;
    color: white;
    font-weight: bold;
}
.skin-spring-button {
    .linear-gradient-background (top, #6cbb4c, #519c30, #65b445);
    padding: 0 10px;
}
.skin-spring-add-button {
    .linear-gradient-background-with-image (
        top, #6cbb4c, #519c30, "esui-button-plus.gif", 9px, 7px, #65b445);
    width: 40px;
    padding: 0 13px 0 27px;
}

.skin-spring-button:active,
.skin-spring-add-button:active {
    border: 1px solid #509c2f;
    height: 26px;
}
.skin-spring-button:active {
    .linear-gradient-background (top, #519c30, #6cbb4c, #65b445);
}
.skin-spring-add-button:active {
    .linear-gradient-background-with-image (
        top, #519c30, #6cbb4c, "esui-button-plus.gif", 9px, 7px, #65b445);
}

.skin-spring-button:hover,
.skin-spring-add-button:hover {
    border: 1px solid #157106;
}


/** 下载系列 */
.skin-download-button {
    .linear-gradient-background-with-image (
        top, #FFF, #f6f6f6, "esui-btn-download.png", 40px, center, #65b445);
    height: 23px;
    line-height: 24px;
    margin: 3px 10px;
    padding-left: 12px;
    padding-right: 25px;
    width: 25px;
}
.skin-download-button:active {
    .linear-gradient-background-with-image (
        top, #f6f6f6, #FFF, "esui-btn-download.png", 40px, center, #65b445);
}

/** 关闭layer按钮 */
.skin-layerClose-button {
    .background("esui.png", repeat, -37px, -88px, transparent);
    border: 0 none;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;
    padding: 0;
}
.skin-layerClose-button:active {
    .background("esui.png", repeat, -37px, -88px, transparent);
    border: 1px solid #f6f6f6;
    height: 12px;
    width: 12px;
    right: 4px;
    top: 4px;
}

/** 文字按钮 */
.skin-link-button {
    background: none;
    border: 0 none;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}
.skin-link-button:active,
.skin-link-button:hover {
    background: none;
    border: 0 none;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    color: blue;
}