/**
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 * 
 * @file 面包屑样式
 * @author dbear, otakustay
 */
@import "mixin.less";
@import "variable.less";

.@{ui-class-prefix}-crumb {
    overflow: hidden;
}
.@{ui-class-prefix}-crumb-node,
.@{ui-class-prefix}-crumb-separator {
    padding: 0;
    float: left;
}

.@{ui-class-prefix}-crumb-separator {
    margin: 0 5px;
}

