/**
  * ESUI (Enterprise Simple UI)
  * Copyright 2013 Baidu Inc. All rights reserved.
  * 
  * @file 面包屑样式
  * @author dbear
  */
@import-once "mixin.less";
@import-once "variable.less";
.ui-crumb {
    ol { 
      padding: 0;
      margin: 0;
      overflow: hidden;
      zoom: 1;
    }

    li {
    	list-style :none;
    	padding: 0;
      float: left;

      &.ui-crumb-separator {
          margin: 0 5px;
      }
    }
}
