 /**
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 * 
 * @file 对话框样式
 * @author dbear
 */
@import "mixin.less";
@import "variable.less";

.ui-dialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #394459;
    .border-radius(3px, 3px, 3px, 3px);
    position: absolute;
    width: 660px;
    z-index: @dialog-z-index;

    .ui-dialog-head {
        .background("esui-dialog-head-bg.png", repeat);
        color: #FFFFFF;
        font-weight: bold;
        height: 26px;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        .user-select();
        .ui-dialog-close-icon {
            .background("esui-dialog-head-close.png");
            height: 13px;
            width: 13px;
            position: absolute;
            right: 10px;
            top: 5px;
            .interactive-cursor ();
        }

        .ui-dialog-title {
            padding-left: 12px;
            line-height: 28px;
            font-size: 15px;
            line-height: 26px;
        }
    }

    .ui-dialog-body {
        padding: 10px 8px 8px;
        overflow: hidden;
        zoom: 1;
    }
    .ui-dialog-foot-panel {
        .user-select();
        margin:0px 8px 3px;
        padding: 15px 0 20px 25px;
        border-top:1px solid #F0F0F0;
        overflow: hidden;
        zoom: 1;
        .ui-dialog-foot {
            float: right;
            .ui-button {
                margin-right:6px;
            }
        }
    }

}

.ui-dialog-draggable {  
    .ui-dialog-head {
        cursor: move;
    }
}

.ui-dialog-dragging {
    .user-select();
}

/** 警告框，确认框 */
.skin-alert-dialog,
.skin-confirm-dialog {
    .ui-dialog-body {
        padding-bottom: 20px;
        .ui-dialog-icon {
            display:none;
        }

        .ui-dialog-icon-warning {
            .background("esui-dialog-notice.png");
            display: block;
            float: left;
            height: 22px;
            margin: 18px 10px 8px 40px;
            _margin: 15px 10px 8px 25px;
            width: 33px;
        }

        .ui-dialog-icon-confirm {
            .background("esui-dialog-question.png");
            display: block;
            float: left;
            height: 34px;
            margin: 15px 10px 8px 40px;
            _margin: 12px 10px 8px 25px;
            width: 34px;
        }

        .ui-dialog-text {
            float: left;
            margin-top: 20px;
            line-height: 18px;
            width: 265px;
        }
    }
}

.ui-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // 兼容IE6
    _position: absolute;
    _width: 100%;
    _height: 100%;
    background: #333;
    opacity: .2;
    filter: alpha(opacity=20);
    z-index: @mask-z-index;
}
