 /**
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 *
 * @file 单日历样式
 * @author dbear
 */
@import "mixin.less";
@import "variable.less";

.@{ui-class-prefix}-monthview {
    background:#fff;
    width:210px;
    .user-select();
}

.@{ui-class-prefix}-monthview-head {
    background: none repeat scroll 0 0 #CCCED4;
    height: 27px;
    padding: 2px 5px;

    table {width:200px;}

    /** 先前向后按钮 */
    .@{ui-class-prefix}-monthview-month-select,
    .@{ui-class-prefix}-monthview-year-select {
        width: 30px;
    }

    .@{ui-class-prefix}-monthview-month-forward,
    .@{ui-class-prefix}-monthview-month-back {
        .background(url(../img/esui.png), repeat, 0px, -200px);
        font-size: 1px;
        height: 20px;
        width: 20px;
        padding: 0;
        float: left;
        &:active {
            .background(url(../img/esui.png), repeat, 0px, -200px);
            height: 20px;
        }
    }

    .@{ui-class-prefix}-monthview-month-forward {
        background-position: -20px -200px;
        margin-left: 15px;
        &:active {
            background-position: -20px -200px;
        }
    }
}

.@{ui-class-prefix}-monthview-month {
    border:1px solid #ccced4;
    font-size:13px;

    table {
        width: 100%;
    }
}

.@{ui-class-prefix}-monthview-month-title {
    width:29px;
    height:21px;
    line-height:21px;
    background:#f1f1f1;
    color:#666;
    text-align:center;
}

.@{ui-class-prefix}-monthview-month-title-selected {
    background: #CCCED4;
}

.@{ui-class-prefix}-monthview-month-item {
    width: 19px;
    height: 21px;
    line-height: 21px;
    cursor: pointer;
    color: #03c;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}

.@{ui-class-prefix}-monthview-last-row .@{ui-class-prefix}-monthview-month-item {
    border-bottom: none;
}

.@{ui-class-prefix}-monthview-month-item:hover {
    background:#e4eaf9;
}

.@{ui-class-prefix}-monthview-month-item-selected {
    background:#fff6bd;
    color:#333;
    font-weight:bold;
}

.@{ui-class-prefix}-monthview-month-item-virtual,
.@{ui-class-prefix}-monthview-month-item-out {
    color:#888;
    cursor:default;
    background:#fff;
    &:hover {
        background:#fff;
    }
}

.@{ui-class-prefix}-monthview-month-item-disabled {
    background: #ddd;
    cursor:default;
    &:hover {
        background:#ddd;
    }
}

// 多选模式
.@{ui-class-prefix}-monthview-multi-select {
    width: 220px;
    .@{ui-class-prefix}-monthview-head {
        table {width:215px;}
    }

    .@{ui-class-prefix}-monthview-month-select-all {
        width: 15px;
        height:21px;
        line-height: 21px;
        background: #f1f1f1;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: #f1f1f1;
        }
    }

    .@{ui-class-prefix}-monthview-month-select-all-selected {
        background: #CCCED4;
    }

    .@{ui-class-prefix}-monthview-month-row-select {
        background: #f1f1f1;
        height: 21px;
        line-height: 21px;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        cursor: pointer;
    }
    .@{ui-class-prefix}-monthview-month-row-select-selected {
        background: #CCCED4;
    }
}

.@{ui-class-prefix}-monthview-disabled {
    /** 先前向后按钮 */
    .@{ui-class-prefix}-monthview-month-forward,
    .@{ui-class-prefix}-monthview-month-back {
        background-position: 0 -240px;
        &:active {
            .background(url(../img/esui.png), repeat, 0px, -240px);
            height: 20px;
            border-color: #CFCFCF;
        }
    }

    .@{ui-class-prefix}-monthview-month-forward {
        background-position: -20px -240px;
        &:active {
            background-position: -20px -240px;
            border-color: #CFCFCF;
        }
    }

    .@{ui-class-prefix}-monthview-month-item {
        background: #ddd;
        cursor:default;
        &:hover {
            background:#ddd;
        }
    }
}
