 /**
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 * 
 * @file 单日历样式
 * @author dbear
 */
@import "mixin.less";
@import "variable.less";
.ui-monthview {
    background:#fff;
    width:210px;
    .user-select();

    .ui-monthview-head {
        background: none repeat scroll 0 0 #CCCED4;
        height: 27px;
        padding: 2px 5px;

        table {width:200px;}

        /** 先前向后按钮 */
        .ui-monthview-month-forward,
        .ui-monthview-month-back {
            .background("esui.png", repeat, 0px, -200px);
            font-size: 1px;
            height: 20px;
            width: 20px;
            padding: 0;
            float: left;
            &:active {
                .background("esui.png", repeat, 0px, -200px);
                height: 20px;
            }
        }


        .ui-monthview-month-forward {
            background-position: -20px -200px;
            margin-left: 15px;
            &:active {
                background-position: -20px -200px;
            }
        }
    } 

    .ui-monthview-month {
        border:1px solid #ccced4;
        font-size:13px;
    }

    .ui-monthview-month-title {
        width:29px;
        height:21px;
        line-height:21px;
        background:#f1f1f1;
        color:#666;
        text-align:center;
    }
 
    .ui-monthview-month-item {
        width:30px;
        height:21px;
        line-height:21px;
        cursor:pointer;
        color:#03c;
        text-align:center;
        border-bottom:1px solid #f1f1f1;
    }


    .ui-monthview-last-row .ui-monthview-month-item {
        border-bottom: none;
    }

    .ui-monthview-month-item:hover {
        background:#e4eaf9;
    }

    .ui-monthview-month-item-selected {
        background:#fff6bd;
        color:#333;
        font-weight:bold;
    }

    .ui-monthview-month-item-virtual,
    .ui-monthview-month-item-out {
        color:#888;
        cursor:default;
        background:#fff;
        &:hover {
            background:#fff;
        }
    }

    .ui-monthview-month-item-disabled {
        background: #ddd;
        cursor:default;
        &:hover {
            background:#ddd;
        }
    }

    
}

.ui-monthview-disabled {
    .ui-monthview-head {
        /** 先前向后按钮 */
        .ui-monthview-month-forward,
        .ui-monthview-month-back {
            background-position: 0 -240px; 
            &:active {
                .background("esui.png", repeat, 0px, -240px);
                height: 20px;
                border-color: #CFCFCF;
            }
        }


        .ui-monthview-month-forward {
            background-position: -20px -240px; 
            &:active {
                background-position: -20px -240px;
                border-color: #CFCFCF;
            }
        }
    } 

    .ui-monthview-month {
        .ui-monthview-month-item {
            background: #ddd;
            cursor:default;
            &:hover {
                background:#ddd;
            }
        }
    }
}