@import "Variable.less";

@esui-search-box-active-color: @esf-palette-primary-color;
@esui-search-box-input-height: 2.4em;
@esui-search-box-input-border-color: #ddd;
@esui-search-box-input-border-color-focus: @esui-search-box-active-color;
@esui-search-box-clear-icon-color: #ddd;
@esui-search-box-clear-icon-color-active: @esui-search-box-active-color;