.ui-select {
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -6px #f3f3f3;
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -6px,
        -webkit-gradient(linear,0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6));
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -6px,
        -o-linear-gradient(top, #ffffff 0%, #f6f6f6 0%);
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -6px,
        -moz-linear-gradient(top,#ffffff,#f6f6f6);
    border: 1px solid #D8D8D8;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    padding: 3px 3px 3px 5px;
    width: 100px;
}

.ui-select-hover {
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -36px #f3f3f3;
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -36px,
        -webkit-gradient(linear,0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6));
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -36px,
        -o-linear-gradient(top, #ffffff 0%, #f6f6f6 0%);
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -36px,
        -moz-linear-gradient(top,#ffffff,#f6f6f6);
}

.ui-select-active {
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -69px #f3f3f3;
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -69px,
        -webkit-gradient(linear,0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6));
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -69px,
        -o-linear-gradient(top, #ffffff 0%, #f6f6f6 0%);
    background:
        url(../img/dn-combo-arrow.png) no-repeat scroll 72px -69px,
        -moz-linear-gradient(top,#ffffff,#f6f6f6);
}

.ui-select-layer {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #A8ADB6;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1px;
    position: absolute;
    text-align: left;
    z-index: 1002;
    box-sizing: border-box;
}
.ui-select-layer span {
    display: block;
}

.ui-select-layer li {
    color: #333333;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    margin: 0 0 1px;
    padding: 0 4px;
    overflow: hidden;
}

.ui-select-layer .ui-select-layer-selected {
    background-color: #E0E0E0;
    border: 1px solid #DDDDDD;
}


.ui-select-layer .ui-select-layer-hover {
    background-color: #F1F1F1;
    border: 1px solid #E6E6E6;
}
