.ui-select {
    width: 96px;
    line-height: 24px;
    border: 1px solid #00f;
}
.ui-select-layer {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #f00;
    box-sizing: border-box;
}
.ui-select-layer span {
    display: block;
}
.ui-select-layer li.selected {
    background-color: yellow;
}