/**
  * ESUI (Enterprise Simple UI)
  * Copyright 2013 Baidu Inc. All rights reserved.
  * 
  * @file 树样式
  * @author dbear
  */
@import "mixin.less";
@import "variable.less";

.ui-tree {
    ul, li {
        .reset-list();
    }

    .ui-tree-node {
        .interactive-cursor ();
        overflow: hidden;
        line-height: 22px;
        &.ui-tree-node-empty {
            cursor: default;
        }

        .ui-tree-content-wrapper {
            border-left: 4px solid #fff;

            // 图标
            .ui-tree-node-indicator {
                .indent-text();
                vertical-align: middle;
                margin-right: 3px;
                .inline-block();
                width: 14px;
                height: 14px;
                overflow: hidden;
                .background("esui-open-icon.png", no-repeat, 0, 0, transparent);

                // 展开
                &.ui-tree-node-indicator-expanded {
                    .background("esui-close-icon.png", no-repeat, 0, 0, transparent);
                }

                // 收起
                &.ui-tree-node-indicator-collapsed {
                }

                // 无子节点或占位
                &.ui-tree-node-indicator-empty,
                &.ui-tree-node-indicator-previous,
                &.ui-tree-node-indicator-far-previous {
                    background-image: none;
                }
            }
            // 节点文字
            .ui-tree-item-content {
                .inline-block();
            }

            &.ui-tree-content-wrapper-selected {
                background: #c9c9c9;
                border-left: 4px solid #4765ca;
            }
        }

        .ui-tree-sub-root-expanded {
            display: block;
        }
        .ui-tree-sub-root-collapsed {
            display: none;
        }

    }


    &.skin-folder-tree {
        .ui-tree-node {
            .ui-tree-content-wrapper {
                .ui-tree-node-indicator {
                    .background("esui-folder.png", no-repeat, 0, -6px, transparent);
                    &.ui-tree-node-indicator-expanded {
                        background-position: 0 -30px;
                    }
                    // 收起
                    &.ui-tree-node-indicator-collapsed {
                    }

                    // 无子节点或占位
                    &.ui-tree-node-indicator-empty,
                    &.ui-tree-node-indicator-previous,
                    &.ui-tree-node-indicator-far-previous {
                        background-image: none;
                    }
                }
            }
        }
    }
}
