// import est
@import "../../../dep/est/1.3.0/src/all.less";

.global-normalize();

// import esf
@import "../../../dep/esf/1.0.0-beta.2/theme/standard/main.less";

// import esui
@import "../../../theme/standard/Main.less";

// import eicons
@import "../../../dep/eicons/1.0.0-beta.1/src/main.less";

@fa-font-path: "../../../dep/eicons/1.0.0-beta.1/fonts/font-awesome";

@esui-type-headings-font-weight: normal;

@dark-color: #2C3E50;

// header
.header {
    height: 60px;
    background: @dark-color;
}

#branding {
    margin: 0 0 0 20px;
    line-height: 60px;
    color: #fff;
}

// main content
#main {
    padding: 0 2em;
    border-left: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-container {
    margin-top: 2em;
    margin-bottom: 5em;
}

.footer {
    padding: 1em;
    background: @dark-color;
    color: #fff;
}

// sidebar
.ui-nav {
    font-family: @esui-global-heading-font-family;
    padding: 0;
    margin: 0;
    list-style: none;
    .ui-nav-item-header {
        padding: .3em 2em;
        color: #ACB6C0;
    }
    a {
        padding: .3em 3em;
        display: block;
        color: #ACB6C0;
        text-decoration: none !important;
        &:hover {
            background: #f5f5f5;
        }
    }
    li.ui-nav-item-active a {
        color: #333;
    }
}

// grid
.ui-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    word-spacing: -0.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

.opera-only :-o-prefocus {
    word-spacing: -0.43em;
}

.ui-u-4-5,
.ui-u-1-5 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    font-family: @default-base-font-family;
}

.ui-u-1-5 {
    width: 20%;
}

.ui-u-4-5 {
    width: 80%;
}

// code 
.example {
    position: relative;
    padding: 45px 0px 15px;
    margin-bottom: 15px;
}

.example:after {
    position: absolute;
    top: 15px;
    left: 0px;
    font-size: 16px; 
    font-weight: bold;
    border-left: 3px solid #70ccc0;
    content: "Example";
    padding-left: .5em
}

.example + .highlight {
    margin-bottom: 15px;
    margin-top: 15px;
    border-width: 0 0 1px;
    border-radius: 0;
    position: relative;
}

.highlight {
    max-height: 300px;
    overflow: auto;
}

.row {
    margin-bottom: .5em;
}

.ui-tab-align-right-democode {
    .ui-tab-navigator {
        text-align: left;
        padding: 0;
    }
    .ui-tab-item {
        border: 1px solid #e5e5e5;
        border: 0;
        line-height: 1;
        min-width: 3em;
        font-size: 16px; 
        font-weight: bold;
        color: #999;
        padding: 0 10px 0 0;
    }
    .ui-tab-item:first-child {
        border-radius: 0;
        border-right: 3px solid #bbb;
    }
    .ui-tab-item:last-child {
        border: 0;
    }
    .ui-tab-item:hover {
        background: #fff;
    }
    .ui-tab-item-active {
        cursor: default;
        background: #fff;
        color: #333;
    }
    border-left: 3px solid #70ccc0;
    padding-left: .5em
}

.ui-tab-content-democode-border {
    border: 1px solid #e5e5e5;
    margin-top: 1.2em;
    margin-bottom: 3em;
}

pre.prettyprint {
    border: 0;
    margin: 0;
    code {
        font-family: monospace;
        font: 12px/18px Consolas,monospace,serif;
    }
}

.highlight {
    margin-left: 20px;
}

// demo page
.ui-tab-vertical-container-left {
   .esui-vertical-tab-def(
       8em,
       300px,
       left
   );
}

.ui-tab-vertical-container-right {
   .esui-vertical-tab-def(
       8em,
       300px,
       right
   );
}

// form.html
.edit-form .ui-form-key {
    width: 8em;
}

// BehaviorSelectable
.ui-widget-content {
    border: 1px solid #aaaaaa;
    color: #222222;
}
.ui-state-default {
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #555555;
}
#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}
#selectable li {
    margin: 3px;
    padding: 1px;
    float: left;
    width: 100px;
    height: 80px;
    font-size: 4em;
    text-align: center;
}

#selectable-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
#selectable-list li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

#selectable-demo {
    .ui-selectable-selecting {
        background: #FECA40;
    }

    .ui-selectable-selected {
        background: #F39814;
        color: white;
    }
    
    .ui-selectable-helper {
        border: 1px dotted #666;
    }
}
